{{#partial "content"}}
<div class="row">
    <div class="col-2"><span>Catalogs</span></div>
    <div class="col">
        {{#metadata.catalogs}}
            <p><a target="_blank" href="{{.}}">{{.}}</a></p>
        {{/metadata.catalogs}}
    </div>
</div>

{{#if metadata.repositoryIdentifier}}
<div class="row">
    <div class="col-2"><span>Repository Identifier</span></div>
    <div class="col"><span title="{{metadata.repositoryIdentifier.type}}">{{literal metadata.repositoryIdentifier.identifier}}</span></div>
</div>
{{/if}}

{{#if metadata.institutionCountry}}
<div class="row">
    <div class="col-2"><span>Institution Country</span></div>
    <div class="col"><a target="_blank" href="{{metadata.institutionCountry}}">{{metadata.institutionCountry}}</a></div>
</div>
{{/if}}

{{#if metadata.lastUpdate}}
<div class="row">
    <div class="col-2"><span>Last Update</span></div>
    <div class="col"><span>{{literal metadata.lastUpdate}}</span></div>
</div>
{{/if}}

{{#if metadata.startDate}}
<div class="row">
    <div class="col-2"><span>Start Date</span></div>
    <div class="col"><span>{{literal metadata.startDate}}</span></div>
</div>
{{/if}}

{{#if metadata.institution}}
<div class="row">
    <div class="col-2"><span>Institution</span></div>
    <div class="col"><a target="_blank" href="{{metadata.institution.uri}}">{{literal metadata.institution.name}}</a></div>
</div>
{{/if}}
{{/partial}}
{{> base}}