<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <meta name="robots" content="all" />
        <title> 
        {{#if metadata.title}}
            {{literal metadata.title}}
        {{/if}}
        </title>
        {{#if jsonLd}}
        <script type="application/ld+json">
            {{{jsonLd}}}
        </script>
        {{/if}}

        <style>
            /* Sticky footer styles
            -------------------------------------------------- */
            html {
              position: relative;
              min-height: 100%;
            }
            body {
              /* Margin bottom by footer height */
              margin-bottom: 60px;
            }
            .footer {
              position: absolute;
              bottom: 0;
              width: 100%;
              /* Set the fixed height of the footer here */
              height: 60px;
              background-color: #f5f5f5;
            }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">FAIR metadata</h3>
            </div>
            <div class="card-body"> 
                {{#if metadata.title}}
                <div class="row">
                    <div class="col-2"><span>Title</span></div>
                    <div class="col"><span>{{literal metadata.title}}</span></div>
                </div>
                {{/if}}
                
                <div class="row">
                    <div class="col-2"><span>Metadata ID</span></div> 
                    <div class="col"><span title="{{metadata.identifier.type}}">{{literal metadata.identifier.identifier}}</span></div>
                </div>
                
                {{#if metadata.description}}
                <div class="row">
                    <div class="col-2"><span>Description</span></div> 
                    <div class="col"><p>{{literal metadata.description}}</p></div>    
                </div>
                {{/if}}
                
                <div class="row">
                    <div class="col-2"><span>Issued</span></div> 
                    <div class="col"><span>{{literal metadata.issued}}</span></div> 
                </div>
                
                <div class="row">
                    <div class="col-2"><span>Modified</span></div> 
                    <div class="col"><span>{{literal metadata.modified}}</span></div>
                </div>
                
                {{#if metadata.version}}
                <div class="row">
                    <div class="col-2"><span>Version</span></div>
                    <div class="col-2"><span>{{literal metadata.version}}</span></div>
                </div>
                {{/if}}
                
                {{#if metadata.license}}
                <div class="row">
                    <div class="col-2"><span>License</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.license}}">{{metadata.license}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.rights}}
                <div class="row">
                    <div class="col-2"><span>Rights</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.rights}}">{{metadata.rights}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.accessRights}}
                <div class="row">
                    <div class="col-2"><span>Access Rights</span></div>
                    <div class="col"><p>{{literal metadata.accessRights.description}}</p></div>
                </div>
                {{/if}}
                
                {{#if metadata.specification}}
                <div class="row">
                    <div class="col-2"><span>Specification</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.specification}}">{{metadata.specification}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.parentURI}}
                <div class="row">
                    <div class="col-2"><span>Parent URI</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.parentURI}}">{{metadata.parentURI}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.language}}
                <div class="row">
                    <div class="col-2"><span>Language</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.language}}">{{metadata.language}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.publisher}}
                <div class="row">
                    <div class="col-2"><span>Publisher</span></div>
                    <div class="col"><a target="_blank" href="{{metadata.publisher.uri}}">{{literal metadata.publisher.name}}</a></div>
                </div>
                {{/if}}
                
                {{#if metadata.metrics}}
                <div class="row">
                    <div class="col-2"><span>Metrics</span></div>
                    <div class="col">
                    {{#metadata.metrics}}
                        <div class="row">
                            <div class="col-sm-2">Type</div>
                            <div class="col-sm-10"><a href="{{metricType}}">{{metricType}}</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">Value</div>
                            <div class="col-sm-10"><a href="{{value}}">{{value}}</a></div>
                        </div>
                    {{/metadata.metrics}}
                    </div>
                </div>
                {{/if}}
                
                {{#block "content"}}
                {{/block}}
                      
                {{#if metadata.uri}}
                <div class="row">
                    <div class="col-2"><span>Download RDF</span></div>
                    <div class="col">
                        <a target="_blank" href="{{metadata.uri}}.ttl">ttl</a>
                        &nbsp;
                        <a target="_blank" href="{{metadata.uri}}.rdf">rdf+xml</a>
                        &nbsp;
                        <a target="_blank" href="{{metadata.uri}}.jsonld">jsonld</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <a class="float-left" href="https://www.go-fair.org/" target="_blank">GO-FAIR</a>
                <a class="float-right" href="https://www.dtls.nl/" target="_blank">DTL</a>
            </div>
        </footer>
    </body>
</html>