{{#partial "content"}}

{{#if metadata.themeTaxonomys}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Theme taxonomy</span></div>
        <div class="col-sm-7">
            {{#metadata.themeTaxonomys}}
                <p><a target="_blank" href="{{.}}">{{.}}</a></p>
            {{/metadata.themeTaxonomys}}
        </div>
    </h4>
</div>
{{/if}}

{{#if metadata.homepage}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Theme taxonomy</span></div>
        <div class="col-sm-7">
                <span><a target="_blank" href="{{metadata.homepage}}">{{metadata.homepage}}</a></span>
        </div>
    </h4>
</div>
{{/if}}



<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Datasets</span></div>
        <div class="col-sm-7">
            {{#metadata.datasets}}
                <p><a target="_blank" href="{{.}}">{{.}}</a></p>
            {{/metadata.datasets}}
        </div>
    </h4>
</div>
{{/partial}}
{{> base}}