{{#partial "content"}}
{{#if metadata.themes}}
<div class="row">
    <h4>
        <div class="col-2"><span>Themes</span></div>
        <div class="col">
            {{#metadata.themes}}
                <p><a target="_blank" href="{{.}}">{{.}}</a></p>
            {{/metadata.themes}}
        </div>
    </h4>
</div>
{{/if}}

{{#if metadata.keywords}}
<div class="row">
    <h4>
        <div class="col-2"><span>Keywords</span></div>
        <div class="col">
            {{#metadata.keywords}}
                <p><span>{{literal .}}</span></p>
            {{/metadata.keywords}}
        </div>
    </h4>
</div>
{{/if}}

{{#if metadata.contactPoint}}
<div class="row">
    <div class="col-2"><span>Contact point</span></div>
    <div class="col"><span><a target="_blank" href="{{metadata.contactPoint}}">{{metadata.contactPoint}}</a></span></div>
</div>  
{{/if}}

{{#if metadata.landingPage}}
<div class="row">
    <div class="col-2"><span>Landing page</span></div>
    <div class="col"><span><a target="_blank" href="{{metadata.landingPage}}">{{metadata.landingPage}}</a></span></div>
</div>  
{{/if}}

{{#if metadata.datasetIssued}}
<div class="row">
    <div class="col-2"><span>Dataset Issued</span></div>
    <div class="col"><span>{{literal metadata.datasetIssued}}</span></div>
</div>
{{/if}}

{{#if metadata.datasetModified}}
<div class="row">
    <div class="col-2"><span>Dataset Modified</span></div>
    <div class="col"><span>{{literal metadata.datasetModified}}</span></div>
</div>
{{/if}}

<div class="row">
    <div class="col-2"><span>Distributions</span></div>
    <div class="col">
        {{#metadata.distributions}}
            <p><a target="_blank" href="{{.}}">{{.}}</a></p>
        {{/metadata.distributions}}
    </div>
</div>
{{/partial}}
{{> base}}