{{#partial "content"}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Catalogs</span></div>
        <div class="col-sm-7">
            {{#metadata.catalogs}}
                <p><a target="_blank" href="{{.}}">{{.}}</a></p>
            {{/metadata.catalogs}}
        </div>
    </h4>
</div>

{{#if metadata.repositoryIdentifier}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Repository Identifier</span></div>
        <div class="col-sm-7"><span title="{{metadata.repositoryIdentifier.type}}">{{literal metadata.repositoryIdentifier.identifier}}</span></div>
    </h4>
</div>
{{/if}}

{{#if metadata.institutionCountry}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Institution Country</span></div>
        <div class="col-sm-7"><a target="_blank" href="{{metadata.institutionCountry}}">{{metadata.institutionCountry}}</a></div>
    </h4>
</div>
{{/if}}

{{#if metadata.lastUpdate}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Last Update</span></div>
        <div class="col-sm-7"><span>{{literal metadata.lastUpdate}}</span></div>
    </h4>
</div>
{{/if}}

{{#if metadata.startDate}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Start Date</span></div>
        <div class="col-sm-7"><span>{{literal metadata.startDate}}</span></div>
    </h4>
</div>
{{/if}}

{{#if metadata.institution}}
<div class="row">
    <h4>
        <div class="col-sm-1"><span class="label label-default">Institution</span></div>
        <div class="col-sm-7"><a target="_blank" href="{{metadata.institution.uri}}">{{literal metadata.institution.name}}</a></div>
    </h4>
</div>
{{/if}}
{{/partial}}
{{> base}}