{{#> layouts/base }}
    {{#*inline "breadcrumbs"}}
        <ul>
            <li>
                <a href="{{repository.uri}}">{{literal repository.title}}</a>
            </li>
            <li>
                <a href="{{catalog.uri}}">{{literal catalog.title}}</a>
            </li>
            <li>
                {{literal metadata.title}}
            </li>
        </ul>
    {{/inline}}

    {{#*inline "content"}}
        {{#if distributions}}
            <h2>Distributions</h2>
            <div class="item-list">
                {{#each distributions}}
                    {{#> includes/list-item
                            list-item-title=(literal this.title)
                            list-item-link=this.uri
                            list-item-description=(trim (literal this.description) limit=180)
                            list-item-tags=this.themes
                    }}
                        {{#*inline "list-item-metadata"}}
                            <dl class="item-metadata">
                                {{#if this.mediaType}}
                                    <dt>Media Type</dt>
                                    <dd>{{literal this.mediaType}}</dd>
                                {{/if}}
                                <dt>Issued</dt>
                                <dd>{{dateFormat (stringToDate (literal this.issued)) "dd-MM-YYYY"}}</dd>
                                <dt>Modified</dt>
                                <dd>{{dateFormat (stringToDate (literal this.modified)) "dd-MM-YYYY"}}</dd>
                            </dl>
                        {{/inline}}
                    {{/ includes/list-item}}
                {{/each}}
            </div>
        {{/if}}
    {{/inline}}

    {{#*inline "metadata"}}
        {{> includes/metadata-common }}

        {{!-- Themes --}}
        {{#if metadata.themes}}
            {{#> includes/metadata-item-list
                    metadata-item-key="Themes"
            }}
                {{#*inline "metadata-item-content"}}
                    {{#each metadata.themes}}
                        <li>
                            <a href="{{this}}" target="_blank">{{this}}</a>
                        </li>
                    {{/each}}
                {{/inline}}
            {{/ includes/metadata-item-list}}
        {{/if}}

        {{!-- Keywords --}}
        {{#if metadata.keywords}}
            {{#> includes/metadata-item-list
                    metadata-item-key="Keywords"
            }}
                {{#*inline "metadata-item-content"}}
                    {{#each metadata.keywords}}
                        <li>
                            {{literal this}}
                        </li>
                    {{/each}}
                {{/inline}}
            {{/ includes/metadata-item-list}}
        {{/if}}

        {{!-- Contact Point --}}
        {{# if metadata.contactPoint}}
            {{> includes/metadata-item
                    metadata-item-key="Contact Point"
                    metadata-item-value=metadata.contactPoint
                    metadata-item-link=metadata.contactPoint
            }}
        {{/if}}

        {{!-- Landing Page --}}
        {{# if metadata.landingPage}}
            {{> includes/metadata-item
                    metadata-item-key="Landing page"
                    metadata-item-value=metadata.landingPage
                    metadata-item-link=metadata.landingPage
            }}
        {{/if}}

        {{!-- Dataset Issued --}}
        {{# if metadata.datasetIssued}}
            {{> includes/metadata-item
                    metadata-item-key="Dataset Issued"
                    metadata-item-value=(dateFormat (stringToDate (literal metadata.datasetIssued)) "dd-MM-YYYY")
            }}
        {{/if}}

        {{!-- Dataset Modified --}}
        {{# if metadata.datasetModified}}
            {{> includes/metadata-item
                    metadata-item-key="Dataset Modified"
                    metadata-item-value=(dateFormat (stringToDate (literal metadata.datasetModified)) "dd-MM-YYYY")
            }}
        {{/if}}

        {{> includes/metadata-download }}
    {{/inline}}
{{/ layouts/base}}
