{{#> layouts/base }}
    {{#*inline "breadcrumbs"}}
        <ul>
            <li>
                <a href="{{repository.uri}}">{{literal repository.title}}</a>
            </li>
            <li>
                <a href="{{catalog.uri}}">{{literal catalog.title}}</a>
            </li>
            <li>
                <a href="{{dataset.uri}}">{{literal dataset.title}}</a>
            </li>
            <li>
                {{literal metadata.title}}
            </li>
        </ul>
    {{/inline}}

    {{#*inline "content"}}
        <p class="distribution-links">
            {{#if metadata.downloadURL}}
                <a class="btn btn-with-icon" href="{{metadata.downloadURL}}" target="_blank">
                    <img src="/images/icons/download.svg">
                    Download
                </a>
            {{/if}}
            {{#if metadata.accessURL}}
                <a class="btn btn-with-icon" href="{{metadata.accessURL}}" target="_blank">
                    <img src="/images/icons/external-link-alt.svg">
                    Access Online
                </a>
            {{/if}}
        </p>
    {{/inline}}

    {{#*inline "metadata"}}
        {{> includes/metadata-common }}

        {{!-- Media Type --}}
        {{# if metadata.mediaType}}
            {{> includes/metadata-item
                    metadata-item-key="Media Type"
                    metadata-item-value=(literal metadata.mediaType)
            }}
        {{/if}}

        {{!-- Format --}}
        {{# if metadata.format}}
            {{> includes/metadata-item
                    metadata-item-key="Format"
                    metadata-item-value=(literal metadata.format)
            }}
        {{/if}}

        {{!-- Byte Size --}}
        {{# if metadata.format}}
            {{> includes/metadata-item
                    metadata-item-key="Byte Size"
                    metadata-item-value=(literal metadata.byteSize)
            }}
        {{/if}}

        {{!-- Distribution Issued --}}
        {{# if metadata.distributionIssued}}
            {{> includes/metadata-item
                    metadata-item-key="Distribution Issued"
                    metadata-item-value=(dateFormat (stringToDate (literal metadata.distributionIssued)) "dd-MM-YYYY")
            }}
        {{/if}}

        {{!-- Distribution Modified --}}
        {{# if metadata.distributionModified}}
            {{> includes/metadata-item
                    metadata-item-key="Distribution Modified"
                    metadata-item-value=(dateFormat (stringToDate (literal metadata.distributionModified)) "dd-MM-YYYY")
            }}
        {{/if}}

        {{> includes/metadata-download }}
    {{/inline}}
{{/ layouts/base}}
