<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{contextPath}}/css/luiz-gui.css"/>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>CONTEXTPATH = "{{contextPath}}";</script>
        <script src="{{contextPath}}/js/luiz-gui.js"></script>
        
        {{#if jsonLd}}
        <!-- schema.org metadata -->
        <script type="application/ld+json">{{{jsonLd}}}</script>
        {{/if}}
    </head>
    <body>
        <div class="container">
            <!-- header -->
            <div id="header" class="row align-items-center">
                <div class="col-3">
                    <div style="width=250px;height:96px;border:1px solid #000;"></div>
                </div>
                <div class="col">
                    <h1>{{literal metadata.title}}</h1>
                </div>
            </div>
            
            {{#block "content"}}
            {{/block}}
        </div>
        
        <footer>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-2">
                        <span>DTLS</span>
                    </div>
                    <div class="col-2">
                        <span>GO-FAIR</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
