{{#partial "content"}}

{{#if metadata.description}}<p>{{literal metadata.description}}</p>{{/if}}

<div class="row">
    <div class="col">
        <p class="text-left">
            <strong>Issued</strong>:
            {{literal metadata.issued}}
        </p>
    </div>
    <div class="col">
        <p class="text-center">
            <a href="{{metadata.license}}">License</a>
        </p>
    </div>
    <div class="col">
        <p class="text-right">
            <strong>Modified</strong>:
            {{literal metadata.modified}}
        </p>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <strong>Responsible organisation</strong>:
        <a href="{{metadata.publisher.uri}}">{{literal metadata.publisher.name}}</a>
    </div>
</div>

<!-- divider between metadata and catalogs -->
<hr/>

<!-- catalogs -->
<div class="row">
    <div class="col text-center">
        <h2>Catalogs</h2>
    </div>
</div>

<div id="catalog-panels" class="row metadata-panels"></div>

<div id="catalog-detail" style="display:none;">
    <hr>
    
    <div class="row">
        <div class="col text-center">
            <h2 id="catalog-title"></h2>
        </div>
    </div>
    
    <p id="catalog-description"></p>
    
    <div class="row">
        <div class="col">
            <p class="text-left">
                <strong>Issued</strong>: <span id="catalog-issued"></span>
            </p>
        </div>
        <div class="col">
            <p class="text-center">
                <a id="catalog-license">License</a>
            </p>
        </div>
        <div class="col">
            <p class="text-right">
                <strong>Modified</strong>: <span id="catalog-modified"></span>
            </p>
        </div>
    </div>
    
    <!-- summarize keywords -->
    
    <!-- dataset panels -->
    <h2>Datasets</h2>
    
    <div id="dataset-panels" class="row metadata-panels">
        <!--<div class="col-5 rounded">
            <h4>dataset title</h4>
            <p>dataset description text.</p>
            
            <div class="row">
                <div class="col text-left">
                    <strong>Published</strong>: $date
                </div>
                <div class="col text-center">
                    <a>license</a>
                </div>
                <div class="col text-right">
                    <strong>Version</strong>: $version
                </div>
            </div>
        </div>-->
    </div>
</div>

<!-- style -->
<style>
.metadata-panels>div {
    margin: 5px;
    max-height: 260px;
    background-color: lavender;
    border-radius: .5em!important; /*override the bootstrap .25 default*/
}

.metadata-panels>div:hover {
    cursor: pointer;
    background-color: #66C;
    color: #FFF;
}
</style>

<!-- script -->
<script>
var addCatalogPanel = function(metadata) {
  var datasets = normalizeArray(metadata["dcat:dataset"]);
  
  var panel = $("<div>")
    .addClass("col-5 rounded")
    .append($("<h3>").text(trimText(metadata["dcterms:title"])))
    .append($("<p>").text(trimText(metadata["dcterms:description"])))
    .append($("<span>").text("Datasets: " + datasets.length))
    .appendTo($("#catalog-panels"));
  
  panel.bind("click", function(e) {
    $("#catalog-title").text(metadata["dcterms:title"]);
    $("#catalog-description").text(metadata["dcterms:description"]);
    $("#catalog-issued").text(getDateString(metadata, "fdp:metadataIssued"));
    $("#catalog-license").attr("href", metadata["dcterms:license"]["@id"]);
    $("#catalog-modified").text(getDateString(metadata, "fdp:metadataModified"));
    
    // reset the datasets
    $("#dataset-panels").html("");
    
    $.each(datasets, function(index, dataset) {
      // populate the dataset panels
      retrieveMetadata(dataset["@id"], addDatasetPanel);
    });
    
    $("#catalog-detail").show();
  });
}; 

var addDatasetPanel = function(metadata) {
  var panel = $("<div>")
    .addClass("col-5 rounded")
    .append($("<h4>").text(trimText(metadata["dcterms:title"])))
    .append($("<p>").text(trimText(metadata["dcterms:description"])));
    
  var row = $("<div>").addClass("row");
  
  $("<div>").addClass("col text-left")
    .append($("<strong>").text("Published: "))
    .append(getDateString(metadata, "fdp:metadataIssued"))
    .appendTo(row);
  
  $("<div>").addClass("col text-center")
    .append($("<a>").attr("href", metadata["dcterms:license"]["@id"]).text("license"))
    .appendTo(row);
  
  $("<div>").addClass("col text-right")
    .append($("<strong>").text("Version: "))
    .append(metadata["dcterms:hasVersion"])
    .appendTo(row);
  
  panel.append(row);
  
  var distlist = $("<div>")
    .addClass("row justify-content-center")
    .appendTo(panel);
  
  var dists = normalizeArray(metadata["dcat:distribution"]);
  $.each(dists, function(index, dist) {
    retrieveMetadata(dist["@id"], function(meta) {
      addDistributionThing(meta, distlist);
    });
  });
  
  panel.appendTo($("#dataset-panels"));
  
  panel.bind("click", function(e) {
    location.assign(metadata["@id"]);
  });
};

// add catalog panels
{{#metadata.catalogs}}retrieveMetadata("{{.}}", addCatalogPanel);
{{/metadata.catalogs}}
</script>

{{/partial}}

{{> base}}
