<div class="item">
    <a class="item-name" href="{{list-item-link}}">{{list-item-title}}</a>
    {{#if list-item-description }}
        <p class="item-description">
            {{trim list-item-description}}
        </p>
    {{/if}}
    {{#if list-item-tags}}
        <div class="tags">
            {{#each list-item-tags}}
                <a href="{{this}}" target="_blank" class="tag">{{this}}</a>
            {{/each}}
        </div>
    {{/if}}
    {{#> list-item-metadata}}{{/list-item-metadata}}
</div>
